<launch>
  <arg name="simulator" default="stage" />
  <arg name="ns" default=""/>
  <arg name="node_start_delay" default="1.0"/>

  <node pkg="cohan_layers" type="agent_filter.py" name="agent_filter_laser" output="screen" if="$(eval 'stage'==arg('simulator'))"
        args="$(arg simulator) $(arg ns)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    <!-- <remap from="tracked_agents" to="$(arg ns)/tracked_agents"/> -->
  </node>

  <node pkg="cohan_layers" type="agent_filter.py" name="agent_filter_laser" output="screen" if="$(eval 'morse'==arg('simulator'))"
        args="$(arg simulator) $(arg ns)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    <!-- <remap from="base_scan" to="scan"/> -->
    <!-- <remap from="tracked_agents" to="$(arg ns)/tracked_agents"/> -->
  </node>

</launch>
